<h2>Hi, <%=current_user.authentication.name%>!</h2>

<h3>Your Ventures: </h3>

<% @ventures.each do |venture| %>
<%= link_to "#{venture.title}", venture_path(venture) %><br>
<% end  %>
<br>
<br>
<%= link_to "New Venture", new_venture_path %>
