
   <!-- Hero content: will be in the middle -->
   <!--<div class="hero-body">
     <div class="container has-text-centered">--->
       <h1 class="title" id="center-text">
         Hu
       </h1>
       <h1 class="title" id="center-text">
         <%= image_tag "hu-owl-wh-backgroud.jpg", size: "200x200" %>
       </h1><br>
       <h2 class="subtitle" id="center-text">
        Who is Hu?
         <p>Hu is an app designed for Entrepreneurs in the initial stages of product development, created by Lauren Billington. Hu aims to help to-be-business owners gain insight into whether or not their ideas could be financially successful by providing data from the US Census and Google Trends</p>

       </h2>
     <!--</div>
   </div>-->
