<h2>WELCOME!</h2>

<< INSERT FANCY PICTURE HERE!!! >>


<h2>Who is Hu?</h2>
<p>Hu is an app designed for Entrepenuers in the initial stages of product development, created by Lauren Billington. Hu aims to help to-be-business owners gain insight into whether or not their ideas could be financially successful by providing data from the US Census, Google Trends...</p>
 <h1>and POSSIBLY OTHERS!!!!!</h1>
