<h2>WELCOME!</h2>


<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1308_RC02/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"bag","geo":"US","time":"today 12-m"},{"keyword":"binoculars","geo":"US","time":"today 12-m"},{"keyword":"laptop","geo":"US","time":"today 12-m"},{"keyword":"ring","geo":"US","time":"today 12-m"},{"keyword":"hat","geo":"US","time":"today 12-m"}],"category":0,"property":"froogle"}, {"exploreQuery":"geo=US&gprop=froogle&q=bag,binoculars,laptop,ring,hat&date=today 12-m,today 12-m,today 12-m,today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 
