<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <p class="color-teal" id="center-text">Lauren Billington 2018 </p>
  <p class="color-teal" id="center-text"> <%= image_tag "hu-owl-wh-backgroud.jpg", size: "30x30"  %></p>
