<div class="box header">

  <div class="nav-wrapper box">
    <div class="nav-col-1 box site-title">Hū
    </div>

    <% if current_user %>
    <div class="nav-col-3 box login-logout right">
       <%= link_to "You-Hu", dashboard_path %>
    </div>
    <div class="nav-col-4and5 box login-logout right">
      Signed in as <%= current_user.authentication.name %>
    </div>
    <div class="nav-col-6 box login-logout right">
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>
  </div>
</div><!-- <div class="box header"> -->
